body {
   margin: 0;
   font-family: Arial;
   font-size: 1vh;
}

main {
   position: absolute;
   height: 100%;
   width: 100%;
   display: flex;
   flex-direction: column;
   flex-wrap: nowrap;
   align-items: center;
   background-color: #F3F3F3;
}

header {
   position: relative;
   height: 13.6%;
   width: 100%;
   display: inline-flex;
   justify-content: space-between;
   background-color: #C4C4C4;
   box-shadow: 0 6vh 1vh -5vh rgba(0,0,0,0.3);
}

header section {
   position: relative;
   height: 100%;
   width: 25%;
   display: table-column;
   text-align: center;
   align-content: space-around;
}

div.midpage {
   position: relative;
   height: 38.5%;
   width: 100%;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
   flex-wrap: nowrap;
}

section.img{
   height: 20vh;
   width: 20vh;
   border-radius: 50%;
   overflow: hidden;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-around;
   box-shadow: 0 6vh 1vh -5vh rgba(0,0,0,0.3);
}

section.img img{
   position: relative;
   height: 100%;
   width: 100%;
}

section.desc {
   position: relative;
   height: 100%;
   width: 50%;
   display: flex;
   flex-direction: column;
   flex-wrap: nowrap;
   align-items: center;
   justify-content: center;
}

section.lst {
   position: relative;
   height: 100%;
   width: 50%; 
   display: flex;
   flex-direction: column;
   flex-wrap: nowrap;
   align-items: center;
   justify-content: center;
}
section.lst section {
   position: relative;
   height: 70%;
   width: 100%;
   border-radius: 5%;
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   align-content: center;
   align-items: center;
   justify-content: space-around;
}

section.lst section section {
   height: 70%;
   width: 15%;
   background-color: #DFDFDF;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-content: center;
   align-items: center;
   box-shadow: 0 6vh 1vh -5vh rgba(0,0,0,0.3);
}

section.lst section section:hover {
   height: 80%;
   width: 25%;
   transition: 0.5s;
   
}

section.lst section section img{
   height: 70%;
   width: 100%;
}

section.lst section section section {
   height: 30%;
   width: 100%;
   background-color: #C4C4C4;;
   display: flex;
   flex-direction: row;
   align-items: center;
   flex-wrap: nowrap;
   align-content: center;
   justify-content: space-around;
}

section.lst section section section span {
   height: 100%;
   width: 25%;
   display: flex;
   background-color: #7e7e7e;
   align-items: center;
   background-color: #7e7e7e;
   justify-content: center;
}


footer {
   position: relative;
   height: 9.4%;
   width: 100%;
   display: flex;
   background-color: #C4C4C4;
   box-shadow: 0 -7vh 1vh -6vh rgba(0,0,0,0.3);
   flex-direction: row;
   flex-wrap: nowrap;
   justify-content: space-between;
}

footer section{
   height: 100%;
   width: 25%;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
}

footer section section {
   height: 50%;
   width: 9.5%;
   border-radius: 50%;
   margin-left: 5%;
   overflow: hidden;
   display: flex;
}

footer section section img {
   height: 100%;
   width: 100%;
}

footer section span{
   height: 50%;
   width: 50%;
   border-radius: 5%;
   display: flex;
   background-color: #e4e4e4;
   flex-direction: column;
   flex-wrap: nowrap;
   justify-content: center;
   align-items: center;

}

footer section span:hover{
   background-color: #7e7e7e;

}

@media only screen and (max-width: 821px) {
   section.img{
      height: 200px;
      width: 150px;
   }

   div.midpage{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
   }

   section.lst {
      width: 100%;
   }

   footer section section {
      width: 30px;
      height: 30px;
   }

   section.desc {
      width: 80%;
      text-align: center;
   }

   footer section span {
      width: 125px;
   }

   footer section {
      width: 40%;
   }
}