body {
   margin: 0;
   font-family: Arial;
}

main {
   position: absolute;
   height: 100%;
   width: 100%;
   display: flex;
   flex-direction: column;
   flex-wrap: nowrap;
   align-items: center;
   background-color: #F3F3F3;
}

header {
   position: relative;
   height: 13.6%;
   width: 100%;
   display: inline-flex;
   justify-content: space-between;
   background-color: #C4C4C4;
   box-shadow: 0px 16px 24px -13px rgba(0,0,0,1);
}

header section {
   position: relative;
   height: 100%;
   width: 25%;
   display: table-column;
   text-align: center;
   align-content: space-around;
}

div {
   position: relative;
   height: 38.5%;
   width: 100%;
}

footer {
   height: 9.4%;
   width: 100%;
   background-color: #C4C4C4;
   box-shadow: 0px -16px 24px -13px rgba(0,0,0,1);
}