body {
   margin: 0;
   font-family: Arial;
   font-size: 1vh;
}
/*O a tag '<main>' esta contendo a página como um todo*/

main {
   position: absolute;
   height: 100%;
   width: 100%;
   display: flex;
   flex-direction: column;
   flex-wrap: nowrap;
   align-items: center;
   background-color: #F3F3F3;
}

/*Estilizaçao do cabeçalho*/

header {
   position: relative;
   height: 13.6%;
   width: 100%;
   display: inline-flex;
   justify-content: space-between;
   background-color: #C4C4C4;
   box-shadow: 0 6vh 1vh -5vh rgba(0,0,0,0.3);
}

header section {
   position: relative;
   height: 100%;
   width: 25%;
   display: table-column;
   text-align: center;
   align-content: space-around;
}

/*Estilização do meio da página*/

section.upper {
   position: relative;
   height: 38.5%;
   width: 100%;
   display: flex;
   flex-direction: column-reverse;
   justify-content: space-around;
   align-items: center;
   flex-wrap: wrap;
}

section.bottom {
   position: relative;
   height: 38.5%;
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   flex-wrap: wrap;
   justify-content: space-evenly;
}

/*Estilização da sessão superior do meio da página*/

div.img {
   height: 20vh;
   width: 20vh;
   border-radius: 50%;
   overflow: hidden;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-around;
   box-shadow: 0 6vh 1vh -5vh rgba(0,0,0,0.3);
   transition: 0.5s;
}

div.img:hover {
   height: 22vh;
   width: 22vh;
   transition: 0.5s;
}

div.img img {
   position: relative;
   height: 100%;
   width: 100%;
}

section.desc {
   position: relative;
   height: 100%;
   width: 50%;
   display: flex;
   flex-direction: column;
   flex-wrap: nowrap;
   align-items: center;
   justify-content: center;
}

/*Estilização da sessão inferior do meio da página*/

section.lst {
   position: relative;
   height: 95%;
   width: 50%;
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
}

section.lst div {
   height: 55%;
    width: 15%;
    background-color: #DFDFDF;
    display: flex;
    flex-direction: row;
    align-content: space-around;
    align-items: center;
    box-shadow: 0 6vh 1vh -5vh rgba(0, 0, 0, 0.3);
    justify-content: space-evenly;
    transition: 0.5s;
    flex-wrap: wrap;

}

section.lst div span{
   position: relative;
   height: 20%;
   width: 15%;
   right: 0;
   top: 0;
   transform: translate(-50%, 0%);
   background-color: #7e7e7e;
   color: #C4C4C4;
   display: flex;
   align-items: center;
   justify-content: center;
}


section.lst div:hover {
   height: 65%;
   width: 25%;
   transition: 0.5s;
}

section.lst div img {
   height: 80%;
   width: 100%;
}

/*Estilização do rodapé*/

footer {
   position: relative;
   height: 9.4%;
   width: 100%;
   display: flex;
   background-color: #C4C4C4;
   box-shadow: 0 -7vh 1vh -6vh rgba(0,0,0,0.3);
   flex-direction: row;
   flex-wrap: nowrap;
   justify-content: space-between;
}

footer section{
   height: 100%;
   width: 25%;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
}

footer section div {
   height: 50%;
   width: 9.5%;
   border-radius: 50%;
   margin-left: 5%;
   overflow: hidden;
   display: flex;
}

footer section div img {
   height: 100%;
   width: 100%;
}

footer section span{
   height: 50%;
   width: 50%;
   border-radius: 5%;
   display: flex;
   background-color: #e4e4e4;
   flex-direction: column;
   flex-wrap: nowrap;
   justify-content: center;
   align-items: center;

}

footer section span:hover{
   background-color: #7e7e7e;

}

/*Estilização para diferentes tamanhos de tela*/

@media only screen and (max-width: 1035px) {

   section.bottom{
      display: flex;
      flex-direction: column;
      align-items: center;
      flex-wrap: nowrap;
      justify-content: flex-start;
   }

   section.upper{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-wrap: nowrap;
   }

   section.lst {
      position: relative;
      height: 40%;
      width: 100%;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
  }

   section.desc {
      text-align: center;
   }

   footer section div {
      width: 30px;
      height: 30px;
   }

   section.desc {
      width: 80%;
      text-align: center;
   }

   footer section span {
      width: 125px;
   }

   footer section {
      width: 40%;
   }

   footer {
      flex-direction: column;
      align-items: center;
   }

   section.desc {
      height: 50%;
      width: 90%;

  }

}